# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.eggs/

# --- Virtuelle Umgebung ---
.venv/
venv/
env/

# --- VS Code ---
.vscode/

# --- MacOS ---
.DS_Store

# --- Logs ---
*.log

# --- Jupyter ---
.ipynb_checkpoints/

# --- Cache / Temp ---
.cache/
.tmp/